[submodule "dotfiles/vim/bundle/vim-extradite"]
	path = dotfiles/vim/bundle/vim-extradite
	url = https://github.com/int3/vim-extradite
[submodule "dotfiles/vim/bundle/vim-colors-solarized"]
	path = dotfiles/vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "dotfiles/vim/bundle/vim-rails"]
	path = dotfiles/vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "dotfiles/vim/bundle/vim-bundler"]
	path = dotfiles/vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "dotfiles/vim/bundle/vim-rvm"]
	path = dotfiles/vim/bundle/vim-rvm
	url = https://github.com/tpope/vim-rvm.git
