[submodule "dotfiles/vim/bundle/vim-extradite"]
	path = dotfiles/vim/bundle/vim-extradite
	url = https://github.com/int3/vim-extradite
[submodule "dotfiles/vim/bundle/vim-colors-solarized"]
	path = dotfiles/vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
